<!DOCTYPE html>
<html>
    <head>
        <title>KENYAN REVENUE</TITLE>
    </head>
    <body>
        <header>
            <h1><a href ="/">Imports</a></h1>
        </header>

        <article>
            <time>published: 20.05.2023, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>Most of the revenue in kenya is obtained from taxation of kenyan improts . Goods brought to kenya must pay a certain fee to be allowed to enter the border,failure to pay this goods will not be allowed into the country.</p>
        </article>
    </body>
</html>
